<h1>New Book</h1>
<form action="/books/upsert" role="form" method="post">
  {{#if book}}
    <div>
      <h2>Editing: {{book.firstName}} {{book.lastName}}</h2>
      <input type="hidden" id="id" name="id" value="{{bookIndex}}"
    </div>
  {{/if}}
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" {{#if book}}value="{{book.title}}"{{/if}}>
  </div>
  <div>
    <label for="publishing_year">Publishing year</label>
    <input type="number" step="1" placeholder="2000" id="publishing_year" name="publishingYear" {{#if book}}value="{{book.publishingYear}}"{{/if}}>
  </div>
  <div>
    <label for="author_ids">Author</label>
    <select id="author_ids" name="authorId">
      <option disabled value>-- select author --</option>
      {{#each authors}}
        <option value="{{@index}}" {{#if (and @root.book (eq @root.book.authorId @index))}}selected{{/if}}>
          {{this.firstName}} {{this.lastName}}
        </option>
      {{/each}}
    </select>
  </div>
  <button type="submit">Submit</button>
</form>